

$grid-gutter-width: 	$grid-gutter-width * 2;


$font-size-base:		$f15px;


$font-size-h1:        	$f18px * 2; // ~36px
$font-size-h2:       	$f15px * 2; // ~30px
$font-size-h3:      	$f12px * 2; // ~24px
$font-size-h4:			$f18px; // ~18px
$font-size-h5:			$f15px;
$font-size-h6:			$f12px;

$grid-breakpoints: (
  xs: 0,
  m640: 640px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
  xxl: 1600px
);


@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../bower_components/bootstrap/scss/mixins/_breakpoints.scss";
// @import "../bower_components/slick-carousel/slick/slick.css";
// @import "../bower_components/slick-carousel/slick/slick-theme.scss";
@import "vendor/bootstrap_overwrite";
@import "vendor/slick-slider";
@import "vendor/pace";
@import "../bower_components/Ionicons/scss/ionicons";


$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
@import "../bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";

@import "vendor/pure-css-select-style";
@import "vendor/htmleditor";

