// ***********************
// n- Class Css
// ***********************

// width
@for $i from 1 through 20{
    $offset: 5;
    $unit: 5%;
    .#{$pre}w#{$i*$offset} {
        width: #{$i*$unit} !important;
    }
}

// height
@for $i from 1 through 20{
    $offset: 5;
    $unit: 5%;
    .#{$pre}h#{$i*$offset} {
        height: #{$i*$unit} !important;
    }
}

// margin-top、right、bottom、left、
@for $i from 0 through 20{
    $offset: 5;
    $unit: 5px;
    .#{$pre}marginTop#{$i*$offset} {
        margin-top: $i*$unit  !important;
    }
    .#{$pre}marginLeft#{$i*$offset} {
        margin-left: $i*$unit  !important;
    }
    .#{$pre}marginBottom#{$i*$offset} {
        margin-bottom: $i*$unit !important;
    }
    .#{$pre}marginRight#{$i*$offset} {
        margin-right: $i*$unit !important;
    }
    .#{$pre}marginAll#{$i*$offset} {
        margin: $i*$unit $i*$unit $i*$unit $i*$unit !important;
    }
}


// padding-top、right、bottom、left、
@for $i from 0 through 20{
    $offset: 5;
    $unit: 5px;
    .#{$pre}paddingTop#{$i*$offset} {
        padding-top: $i*$unit !important;
    }
    .#{$pre}paddingLeft#{$i*$offset} {
        padding-left: $i*$unit !important;
    }
    .#{$pre}paddingBottom#{$i*$offset} {
        padding-bottom: $i*$unit !important;
    }
    .#{$pre}paddingRight#{$i*$offset} {
        padding-right: $i*$unit !important;
    }
    .#{$pre}paddingAll#{$i*$offset} {
        padding: $i*$unit $i*$unit $i*$unit $i*$unit !important;
    }
}

// font-size
@for $i from 10 through 100{
    $offset: 5;
    $unit: 5%;
    .#{$pre}fontSize#{$i*$offset} {
        font-size: $i*$unit !important;
    }
}

// line-height
@for $i from 10 through 80{
    $offset: 5;
    $unit: 5%;
    .#{$pre}lineHeight#{$i*$offset} {
        line-height: $i*$unit !important;
    }
}

.#{$pre}lh35{
	line-height: 35px !important;
}
.#{$pre}lh1{
	line-height: 1 !important;
}


// font-weight
@for $i from 1 through 9{
    $offset: 100;
    $unit: 100;
    .#{$pre}fontWeight#{$i*$offset} {
        font-weight: $i*$unit !important;
    }
}

// hr
@for $i from 1 through 10{
    $offset: 10;
    $unit: 10px;
    .#{$pre}hr-#{$i*$offset} {
        @include nCustomHr(transparent);
        height: $i*$unit;
    }
}

// text-transform
.#{$pre}txtUppercase {
    text-transform: uppercase !important;
}

.#{$pre}txtLowercase {
    text-transform: lowercase !important;
}

.#{$pre}txtCapitalize {
    text-transform: capitalize !important;
}

// font style
.#{$pre}fontStyleItalic{
    font-style: italic !important;
}

.#{$pre}hidden{
    visibility: hidden;
}

.#{$pre}visible{
	visibility: visible;
}

.#{$pre}clear{
	clear: both;
}

// shadow
.#{$pre}shadow-1{
    box-shadow: 1px 1px 3px 0px #ddd !important;
}
.#{$pre}shadow-2{
    box-shadow: 1px 1px 3px 1px #ddd !important;
}
