
@function bgImg-magic($sprite) {
  $sprite-name: nth($sprite, 10);
  $new-sprite-name: '';
  @if($new-sprite-name == '') { $new-sprite-name: nStrReplace($sprite-name, "-hover", ":hover"); }
  @if($new-sprite-name == '') { $new-sprite-name: nStrReplace($sprite-name, "-active", ".active"); }
  @return $new-sprite-name;
}

@mixin bgImg-width($sprite, $percent) {
  $width: nth($sprite, 5);
  width: ceil($width*($percent/100));
}

@mixin bgImg-height($sprite, $percent) {
  $width: nth($sprite, 5);
  $newWidth: ceil($width*($percent/100));
  $ratio: ($newWidth/$width);
  $height: nth($sprite, 6);
  height: ceil($height*$ratio);
}

@mixin bgImg-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin bgImg-settings() {
  display: inline-block;
  background-size: contain;
}

@mixin bgImg-image($sprite, $path) {
  $sprite-name: nth($sprite, 10);
  $src: '#{$path}#{$sprite-name}.png';
  background-image: url(#{$src});
  background-repeat: no-repeat;
}

@mixin bgImg($sprite, $path, $percent) {
  @include bgImg-image($sprite, $path);
  // @include bgImg-position($sprite);
  @include bgImg-settings();
  @include bgImg-width($sprite, $percent);
  @include bgImg-height($sprite, $percent);
}

/*
The `bgImgs` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include bgImgs($spritesheet-sprites);
*/
@mixin bgImgs($sprites, $path, $percent: 100) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    $sprite-name: bgImg-magic($sprite);
    &.#{$sprite-name} {
      @include bgImg($sprite, $path, $percent);
    }
  }
}

@mixin bgImgsOne($sprite, $path, $prefix: '', $percent: 100) {
    $sprite-name: nth($sprite, 10);
    $sprite-name: bgImg-magic($sprite);
    &.#{$prefix}#{$sprite-name} {
        @include bgImg($sprite, $path, $percent);
    }
}
