.#{$pre}btn {
    background-color: transparent;
    position: relative; // color: $abcColor_Black;
	padding: 10px 0;
    &:hover {
        box-shadow: none;
    }
    &--card-2 {
        box-shadow: $shadow-2px;
        &:hover {
            box-shadow: $shadow-4px;
        }
    }
}

.btn {
    font-weight: bold;
    outline: none;
	transition: all .3s ease;
	font-weight: normal;
	padding: 6px;
	position: relative;
	@include media-breakpoint-up(sm) {
		padding: 6px 12px;
	}

    &:active {
        box-shadow: $shadow-none;
	}
	&:hover,
	&:focus,
	&:active{
		outline: none !important;
		outline-offset: 0;
	}

	&--border-0 {
		border: unset;
	}

	&--border-radius-0{
		border-radius: 0px;
	}
	&--bg-transparent{
		background-color: transparent;
	}

	&--white{
		color: #ffffff;
		border: 1px #ffffff solid;

		&:hover,
		&:focus{

		}

	}

	&--full{
		width: 100%;
	}
	&--padding-0{
		padding: 0;
	}

	// &--red{
		
		
		  
	// }
}
