.#{$pre}heading{

	@mixin h1{
		font-size: $f20px;
		@include media-breakpoint-up(md) {
			font-size: $f20px * 2;
		}
	}

	&--h1{
		@include h1;
	}

	
	
	&--h2{
		font-size: $f18px;
		@include media-breakpoint-up(md) {
			font-size: $f11px * 2;
		}
	}

	&--h3{
		font-size: $f16px;
		@include media-breakpoint-up(md) {
			font-size: $f11px * 2;
		}
	}

	

	
}
