.#{$pre}hr {
    &--lightgrey {
		@include nCustomHr(rgba(#000000, .2));
		&-5 {
			@include nCustomHr(rgba(#000000, .2));
			margin: 5px 0;
        }
        &-10 {
            @include nCustomHr(rgba(#000000, .2));
            margin: 10px 0;
        }
        &-20 {
            @include nCustomHr(rgba(#000000, .2));
            margin: 20px 0;
        }
        &-30 {
            @include nCustomHr(rgba(#000000, .2));
            margin: 30px 0;
        }
        &-40 {
            @include nCustomHr(rgba(#000000, .2));
            margin: 40px 0;
        }
        &-50 {
            @include nCustomHr(rgba(#000000, .2));
            margin: 50px 0;
        }
        &-100 {
            @include nCustomHr(rgba(#000000, .2));
            margin: 100px 0;
        }
    }
    &--transparent {
        @include nCustomHr(transparent);
        &-3 {
            @include nCustomHr(transparent);
            height: 3px;
		}
		&-5 {
            @include nCustomHr(transparent);
            height: 5px;
		}
		&-7 {
            @include nCustomHr(transparent);
            height: 7px;
		}
		&-8 {
            @include nCustomHr(transparent);
            height: 8px;
        }
        &-9 {
            @include nCustomHr(transparent);
            height: 9px;
		}
        &-10 {
            @include nCustomHr(transparent);
            height: 10px;
		}
		&-15 {
            @include nCustomHr(transparent);
            height: 15px;
		}
		&-16 {
            @include nCustomHr(transparent);
            height: 16px;
        }
        &-20 {
            @include nCustomHr(transparent);
            height: 20px;
		}
		&-25 {
            @include nCustomHr(transparent);
            height: 25px;
        }
        &-30 {
            @include nCustomHr(transparent);
            height: 30px;
        }
        &-35 {
            @include nCustomHr(transparent);
            height: 35px;
        }
        &-34 {
            @include nCustomHr(transparent);
            height: 34px;
        }
        &-40 {
            @include nCustomHr(transparent);
            height: 40px;
        }
        &-50 {
            @include nCustomHr(transparent);
            height: 50px;
        }
        &-60 {
            @include nCustomHr(transparent);
            height: 60px;
        }
        &-70 {
            @include nCustomHr(transparent);
            height: 70px;
        }
        &-100 {
            @include nCustomHr(transparent);
            height: 100px;
        }
        &-150 {
            @include nCustomHr(transparent);
            height: 150px;
        }
    }
}
