.rest {
    overflow: hidden;
    padding: 0 ($grid-gutter-width / 2);
    // &-md-auto {
    //     @include media-breakpoint-up(md) {
    //         width: auto;
    //         display: inline-block;
    //         vertical-align: middle;
    //     }
	// }
}