.#{$pre}row {
	&--table{
		display: table;
		table-layout: fixed;
		&__cell{
			display: table-cell;
		}
	}

}

.row{
	> .col{
		float: left;
	}

	&--0 {
		margin: 0 0px;
        >.col, >.rest {
            padding: 0 0px;
		}
		&-all {
			margin: 0 0px;
			>.col, >.rest {
				padding: 2px;
			}
		}
	}
	&--1 {
        margin: 0 -1px;
        >.col, >.rest {
            padding: 0 1px;
        }
	}
	&--2 {
        margin: 0 -2px;
        >.col, >.rest {
            padding: 0 2px;
		}
	}
	&--4 {
        margin: 0 -4px;
        >.col, >.rest {
            padding: 0 4px;
		}
		&-all{
			>.col, >.rest {
				padding: 4px;
			}
		}
		// >.col--eighth{
		// 	width: (100% / 8);
		// }
	}
	&--5 {
        margin: 0 -5px;
        >.col, >.rest {
            padding: 0 5px;
        }
	}

    &--8 {
        margin: 0 -8px;
        >.col, >.rest {
            padding: 0 8px;
		}

		&-all{
			>.col, >.rest {
				padding: 8px;
			}
		}
	}

	&--10{
		margin: 0 -10px;
		>.col, >.rest{
			padding: 0 10px;
		}
		&-all{
			>.col, >.rest {
				padding: 10px;
			}
		}

	}

	&--16 {
        margin: 0 -16px;
        >.col, >.rest {
            padding: 0 16px;
		}

		&-all{
			>.col, >.rest {
				padding: 16px;
			}
		}
	}

	&--24 {
        margin: 0 -24px;
        >.col, >.rest {
            padding: 0 24px;
		}

		&-all{
			>.col, >.rest {
				padding: 24px;
			}
		}
	}



}
