.#{$pre}text {
	&--single-line-dot{
		// @include center-block();
		width: 100%;
		display: inline-block;
		@include text-overflow();
	}
	&--black{
		color: #000000;

	}
	&--blue{
		color: $blue;
	}

	&--red{
		color: $red;
	}

	&--grey{
		color: #666666;
	}
	&--lightgrey{
		color: #999999;
	}

	&--lightblue{
		color:$lightblue;
	}

	&--xs{
		font-size: $f12px;
	}
	&--ss{
		font-size: $f13px;
	}
	&--s{
		font-size: $f14px;
	}
	&--m{
		font-size: $f15px;
	}
	&--md{
		font-size: $f18px;
	}
	&--lg{
		font-size: $f12px * 2;
	}
	&--thin{
		font-weight: 400;
	}
	&--b500{
		font-weight:500;
	}
	&--b600{
		font-weight:600;
	}
	&--b700{
		font-weight:700;
	}

	
}
