/***********************************
 * Transition
 **********************************/

@mixin nTransition($type) {
    @include transition($type .2s linear);
}


/***********************************
 * Custom hr
 **********************************/

@mixin nCustomHr($class, $color) {
    hr.#{$class} {
        margin: 0;
        border: 0;
        height: 1px;
        background-color: $color;
        color: $color;
        /* IE6 */
        @content;
    }
}

@mixin nCustomHr($color) {
    margin: 0;
    border: 0;
    height: 1px;
    background-color: $color;
    color: $color;
    /* IE6 */
    @content;
}

@mixin nMutiLineEllipsis($lineHeight, $lineBreak, $fontSize) {
	height: $fontSize*$lineHeight*$lineBreak + px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineBreak;
}

@mixin nEllipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/***********************************
 * Width Limit
 **********************************/

@mixin max-width() {
    max-width: 1600px;
    margin: 0 auto;
}

@function nStrReplace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        /*
    @return str-slice($string, 1, $index - 1) + $replace;
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    */
        @return str-slice($string, 1, $index - 1)+$replace+nStrReplace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@mixin linear-gradient($angle, $color-stops...) {
    $_angle-with-vendor-prefix: "";
    $_angle: "";
    @if $angle=="to top" or $angle=="bottom" {
        $_angle-with-vendor-prefix: bottom;
        $_angle: to top;
    }
    @else if $angle=="to right" or $angle=="left" {
        $_angle-with-vendor-prefix: left;
        $_angle: to right;
    }
    @else if $angle=="to bottom" or $angle=="top" {
        $_angle-with-vendor-prefix: top;
        $_angle: to bottom;
    }
    @else if $angle=="to left" or $angle=="right" {
        $_angle-with-vendor-prefix: right;
        $_angle: to left;
    }
    @else if $angle=="to top right" or $angle=="bottom left" {
        $_angle-with-vendor-prefix: bottom left;
        $_angle: to top right;
    }
    @else if $angle=="to bottom right" or $angle=="top left" {
        $_angle-with-vendor-prefix: top left;
        $_angle: to bottom right;
    }
    @else if $angle=="to bottom left" or $angle=="top right" {
        $_angle-with-vendor-prefix: top right;
        $_angle: to bottom left;
    }
    @else if $angle=="to top left" or $angle=="bottom right" {
        $_angle-with-vendor-prefix: bottom right;
        $_angle: to top left;
    }
    @else {
        $_angle-with-vendor-prefix: $angle % 360;
        $_angle: (90 - $angle) % 360;
    }
    // background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
    // background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
    // background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
    background: linear-gradient($_angle, $color-stops);
}




@mixin extendIonicons {
	display: inline-block;
	font-family: Ionicons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;	
	@content;
}

@mixin extendFontAwesome {
	display: inline-block;
	font-family: FontAwesome;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;	
	@content;
}
