/* Author Nick. */


/* Variables */

// ***********************
// prefix
// ***********************
$pre: 'sample-';
// ***********************
// font size
// ***********************
$float:0.5;
$f20px: 20px;
$f19px: 19px;
$f18px: 18px;
$f17px: 17px;
$f16px: 16px;
$f15px: 15px;
$f14px: 14px;
$f13px: 13px;
$f12px: 12px;
$f11px: 11px;
$f10px: 10px;
// ***********************
// Viewport Size
// ***********************
$pc: 1024px;
$tablet: 960px;
$mobile: 640px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
$iphone5-portrait: 320px;
$iphone5-landscape: 568px;
$iphone6-portrait: 375px;
$iphone6-landscape: 667px;
$iphone6Plus-portrait: 414px;
$iphone6-landscape: 736px;
$full: 100%;
$max-width: 100%;

$pc-size: 1280px;
$mobile-size: 1280px;
// ***********************
// color
// ***********************
$lightred: #ff000a;
$red: #de0009;
// $darkred: rgb(222,0,9);
$grey: #cecece;
$black: #000000;
$blue: #0e6cb8;
$lightblue:#98d4e0;


// ***********************
// gutter
// ***********************
$grid-gutter-width: 10px;


$breadcrumb-height: 24px;
$share-height: 24px;
// ***********************
// zIndex
// ***********************
$nav-zIndex: 1000;
$announce-zIndex: 800;
$searchbar-zIndex: 950;
$aside-zIndex: 900;
$panel-zIndex: 600;
$message-zIndex: 2000;
// ***********************
// shadow
// ***********************
$shadow-none: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
$shadow-2px: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow-4px: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-8px: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-12px: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$shadow-16px: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
$shadow-24px: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
$shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

// ***********************
//  Font Family
// ***********************
$font: "Arial", "微軟正黑體", "Microsoft JhengHei", Helvetica ,sans-serif;
